.container{
    background-color: rgb(105, 105, 105);
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
}
.txt{
    font-size: 1.5em;
}
input[type="text"]{
    font-size: 1.2em;
}
input[type="submit"]{
    margin-left: 50rem;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 5em;
    background-color: #460000;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5em 1em;
}